/* GENERAL */
body {
	font-family: 'Cardo', serif;
	text-align: center;
	color: #000000;
	/*background-color: #131623;*/
}

h1, h2, h3 {
	font-family: 'Pathway Gothic One', sans-serif;
}

.yellow {
	color: #FFF200;
}
/* END - GENERAL */

/* COMING SOON HEADER */
.coming-soon-header {
	padding-top: 10vh;
}

.coming-soon-header img.logo {
	width: 180px;
}

.coming-soon-header h1 {
	min-height: 132px;
	font-size: 120px;
	text-transform: uppercase;
}

.coming-soon-header p {
	font-size: 50px;
}
/* END - COMING SOON HEADER */

/* SKETCH */
#container canvas.sketch {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* END - SKETCH */