html, body {
	padding: 0;
	margin: 0;
	/*height: 100%;*/
}

body {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Catamaran', sans-serif;
	font-weight: bold;
}

h3.page-title {
	/*text-transform: uppercase;*/
}

h3.page-title a:hover {
	text-decoration: none;
}

a {
	color: #87CEEB;
}

a strong {
	font-size: 0.8em;
}

.outer-container {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}

/* HEADER */
header {
	display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid transparent;
    -webkit-transition: box-shadow 200ms ease-in-out;
    transition: box-shadow 200ms ease-in-out;
    -webkit-box-shadow: 1px 1px transparent;
    box-shadow: 1px 1px transparent;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    z-index: 60;
}

header#header {
	background: #fff;
    border-color: rgba(0,0,0,0.14);
    color: rgba(0,0,0,0.8);
    fill: rgba(0,0,0,0.8);
}

header .header-corner {
	width: 60px;
    text-align: center;
}

header .header-corner .header-icon {
	color: rgba(0,0,0,0.8);
    fill: rgba(0,0,0,0.8);
    position: relative;
    top: 17px;
}

header .header-corner .md-button.md-icon-button {
	margin: 0;
    padding: 12px;
    line-height: 1;
    width: auto;
    height: auto;
    min-width: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

header .header-corner .md-button {
	display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -webkit-user-select: none;
    outline: none;
    border: 0;
    padding: 0 6px;
    margin: 6px 8px;
    background: transparent;
    color: currentColor;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: box-shadow .4s cubic-bezier(0.25,0.8,0.25,1),background-color .4s cubic-bezier(0.25,0.8,0.25,1);
    -webkit-transition: box-shadow .4s cubic-bezier(0.25,0.8,0.25,1),background-color .4s cubic-bezier(0.25,0.8,0.25,1);
    transition: box-shadow .4s cubic-bezier(0.25,0.8,0.25,1),background-color .4s cubic-bezier(0.25,0.8,0.25,1);
    letter-spacing: .01em;
}

header .header-corner .header-menu-button {
	display: none;
}

header .header-logo {
	position: relative;
    top: 12px;
    z-index: 1;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
}

header .header-logo span.logo {
	background-image: url(/images/logo-2glass-u.svg);
	background-size: 112px 46px;
	width: 112px;
	height: 46px;
	display: inline-block;
	opacity: .8;
}

#header.body-is-scrolled {
    -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
}

.header-nav {
    position: relative;
    top: 24px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: right;
}

.header-nav > ul {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    list-style-type: none;
}

.header-nav li {
    font-size: 14px;
    margin-left: 32px;
    text-transform: uppercase;
}

.header-nav-link {
	font-weight: 500;
	text-decoration: none;
	color: rgba(0,0,0,0.8);
    fill: rgba(0,0,0,0.8);
    border-bottom: 2px solid transparent;
}

a.header-nav-link:hover,
a.header-nav-link:focus {
	text-decoration: none;
}

.header-nav-link.is-active {
    /*border-bottom-color: #ffeb3b;*/
    border-bottom-color: #87ceeb;
}

header .header-corner .header-icon.is-active {
	/*fill: #ffeb3b;*/
	border-bottom: 2px solid #87ceeb;
}

.header-home {
	margin-left: 12px;
	margin-right: -12px;
}

div.side-drawer {
    display: block;
    position: fixed;
    bottom: 0;
    top: 0;
    background: #fff;
    max-width: 320px;
    overflow-x: hidden;
    width: -webkit-calc(100% - 56px);
    width: calc(100% - 56px);
    will-change: transform;
    z-index: 80;

    border-right: 1px solid transparent;
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);

    transition: transform .4s;
}

div.side-drawer.drawer-is-open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.drawer-backdrop {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	-webkit-transition: opacity 450ms;
	transition: opacity 450ms;
	z-index: 79;
	display: none;
}

.drawer-backdrop.opaque {
	opacity: .48;
	background-color: rgba(33,33,33,1.0);
}

header.nav-panel-header {
	position: relative;
	border-color: rgba(0,0,0,0.14);
}

header.nav-panel-header .header-logo {
	left: 16px;
}

div.side-drawer div.nav-panel ul {
	list-style: none;
	padding: 0;
	margin-top: 8px;
}

div.side-drawer div.nav-panel ul li a.header-nav-link {
	margin-left: 16px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    outline: none;
    text-decoration: none!important;
    font-weight: 500;
    -webkit-align-items: center;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
}

div.side-drawer div.nav-panel ul li a.header-nav-link.is-active {
	border: none;
	color: #87ceeb;
}

@media (max-width: 939.99px) {
	header .header-corner .header-menu-button {
		display: inline-block;
	}

	.header-nav > ul {
		display: none;
	}

	div.side-drawer {
		z-index: 100;
	}

	.drawer-backdrop {
		z-index: 99;
	}
}
/* END - HEADER */

/* HERO */
section.hero {
	max-width: 800px;
	padding-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
/* END - HERO */

/* CONTENT */
section#content {
	min-height: 100%;
	padding: 140px 60px 48px;
}

section#content ol.blog-list {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

ol.blog-list li.post-3-column {
    width: 100%;
}

ol.blog-list li.post-2-column {
    width: -webkit-calc(66.66667% - 53.33333px + 40px);
    width: calc(66.66667% - 53.33333px + 40px);
    margin-right: 40px;
}

ol.blog-list li.post-1-column {
    width: -webkit-calc(33.33333% - 26.66667px + 0px);
    width: calc(33.33333% - 26.66667px + 0px);
    margin-right: 40px;
}

ol.blog-list li.is-in-last-column {
	margin-right: 0;
}

li.post {
    /*cursor: pointer;*/
    margin-bottom: 56px;
    outline: 0;
}

@media (max-width: 719.99px) {
	section#content {
		padding: 104px 16px 24px;
	}

	ol.blog-list li.post-3-column,
	ol.blog-list li.post-2-column,
	ol.blog-list li.post-1-column {
		width: 100%;
		margin-right: 0;
	}

	ol.blog-list .post {
		margin-bottom: 1em;
	}
}

@media (max-width: 1024px) and (min-width: 720px) {
	ol.blog-list li.post-3-column {
		width: 100%;
		margin-right: 0;
	}

	ol.blog-list li.post-2-column,
	ol.blog-list li.post-1-column {
		width: calc(50% - 20px + 0px);
	}

	ol.blog-list li.is-in-last-column-if-1024 {
		margin-right: 0;
	}

	ol.blog-list li.is-not-last-column-if-1024 {
		margin-right: 40px;
	}

	ol.blog-list .post {
		margin-bottom: 1em;
	}
}

/* END - CONTENT */

/* FOOTER */
footer {
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	color: #ffffff;
}

footer div {
	padding-left: 60px;
	padding-right: 60px;
}

footer div.hashtag {
	padding-top: 18px;
	padding-bottom: 18px;
}

footer div.hashtag h2 {
	color: #ffffff;
}

footer div.hashtag h2 span.symbol {
	font-weight: 400;
	color: #87CEEB;
}

footer div div.social-links {
	padding: 10px 0 2px;
	border-top: 1px solid rgba(255,255,255,.1);
	font-size: 14px;
}

footer div div.social-links a {
	padding-left: 8px;
	padding-right: 8px;
}

footer p.made-by-me {
	margin-bottom: 0;
	padding-bottom: 10px;
	font-size: 14px;
}

footer p.made-by-me strong {
	color: #ffffff;
}
/* END - FOOTER */

/* SEARCH */
section#search {
	-webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
    position: fixed;
    left: 50%;
    height: 150vh;
    width: 100%;
    z-index: 2000000;
    top: 100vh;
    opacity: 0;
     -webkit-transition: top .3s ease-in .5s,opacity .2s ease-in; 
     transition: top .3s ease-in .5s,opacity .2s ease-in; 
}

section#search.lets-go {
    top: -50vh;
    opacity: 1;
    pointer-events: auto;
    -webkit-transition: top .3s ease-in,opacity 0s;
    transition: top .3s ease-in,opacity 0s;
}

section#search svg.wave {
    position: absolute;
    top: 0;
    left: 50%;
    width: 300%;
    height: 50vh;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

section#search.lets-go .spacer--solid-black {
    opacity: 0;
    -webkit-transition: all .3s linear .9s;
    transition: all .3s linear .9s;
}

section#search .spacer--solid-black {
    background: black;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

section#search .spacer {
    background: -webkit-linear-gradient(rgba(0,0,0,0.96) 60%,#000);
    background: linear-gradient(rgba(0,0,0,0.96) 60%,#000);
}

section#search .spacer {
    position: absolute;
    top: 50vh;
    width: 101vw;
    height: 104vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #f1f1f1;
}

section#search div.wrap-close {
	overflow: hidden;
}

section#search div.close {
    width: 60px;
    /*text-align: center;*/
    float: right;
}

section#search div.close:after {
	content: " ";
	clear: both;
}

section#search .md-button.md-icon-button {
    margin: 0;
    padding: 12px;
    line-height: 1;
    width: auto;
    height: auto;
    min-width: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

section#search .md-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -webkit-user-select: none;
    outline: none;
    border: 0;
    padding: 0 6px;
    margin: 6px 8px;
    background: transparent;
    color: currentColor;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: box-shadow .4s cubic-bezier(0.25,0.8,0.25,1),background-color .4s cubic-bezier(0.25,0.8,0.25,1);
    -webkit-transition: box-shadow .4s cubic-bezier(0.25,0.8,0.25,1),background-color .4s cubic-bezier(0.25,0.8,0.25,1);
    transition: box-shadow .4s cubic-bezier(0.25,0.8,0.25,1),background-color .4s cubic-bezier(0.25,0.8,0.25,1);
    letter-spacing: .01em;
}

section#search .header-icon {
    color: rgba(255,255,255,0.8);
    fill: rgba(255,255,255,0.8);
    position: relative;
    top: 17px;
}

section#search.lets-go .layout--searchform {
    opacity: 1;
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
    -webkit-transition: opacity .3s ease .5s,top .6s cubic-bezier(0.165,0.84,0.44,1),-webkit-transform .3s ease .5s;
    transition: opacity .3s ease .5s,top .6s cubic-bezier(0.165,0.84,0.44,1),-webkit-transform .3s ease .5s;
    transition: transform .3s ease .5s,opacity .3s ease .5s,top .6s cubic-bezier(0.165,0.84,0.44,1);
    transition: transform .3s ease .5s,opacity .3s ease .5s,top .6s cubic-bezier(0.165,0.84,0.44,1),-webkit-transform .3s ease .5s;
}

.ph {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.layout--searchform,
.close {
    opacity: 0;
    -webkit-transition: opacity .3s ease,top .6s cubic-bezier(0.165,0.84,0.44,1),-webkit-transform .3s ease;
    transition: opacity .3s ease,top .6s cubic-bezier(0.165,0.84,0.44,1),-webkit-transform .3s ease;
    transition: transform .3s ease,opacity .3s ease,top .6s cubic-bezier(0.165,0.84,0.44,1);
    transition: transform .3s ease,opacity .3s ease,top .6s cubic-bezier(0.165,0.84,0.44,1),-webkit-transform .3s ease;
}

section#search.lets-go .close {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition: opacity .3s ease .6s,-webkit-transform .3s ease .65s;
    transition: opacity .3s ease .6s,-webkit-transform .3s ease .65s;
    transition: transform .3s ease .65s,opacity .3s ease .6s;
    transition: transform .3s ease .65s,opacity .3s ease .6s,-webkit-transform .3s ease .65s;
}

.layout--searchform {
    position: absolute;
    z-index: 200;
    left: 50%;
    -webkit-transform: translate(-50%,3vh);
    -ms-transform: translate(-50%,3vh);
    transform: translate(-50%,3vh);
    top: 28vh;
}

.layout {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    box-sizing: border-box;
}

.layout {
    list-style: none;
    margin: 0;
    padding: 0;
}

.greater-desk-ph {
    padding-right: 60px;
    padding-left: 60px;
}

.gray h3 {
    color: #f1f1f1;
}

.mb- {
    margin-bottom: 10px !important;
}

.label--bigsearch {
    opacity: .6;
}

.block {
    display: block;
}

.label--bigsearch {
    font-size: 16px;
    line-height: 16px;
}

label {
    -webkit-tap-highlight-color: transparent;
}

#bigsearch {
    font-size: 120px;
}

#bigsearch {
    border: 0;
    width: 100%;
    background: transparent;
    color: #fff;
    padding: 0 50px 0 0;
    outline: 0;
    -webkit-appearance: textfield;
}

#bigsearch::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/* END - SEARCH *