<footer>
	<div class="hashtag">
		<h2><span class="symbol">#</span><span class="work">Music</span>Xperiment</h2>
	</div>
	<div class="wrap-social-links">
		<div class="social-links">
			<a href="#">
				<i class="fa fa-twitter"></i>
				Facebook
			</a>
			<a href="#">
				<i class="fa fa-twitter"></i>
				Instagram
			</a>
			<a href="#">
				<i class="fa fa-twitter"></i>
				Twitter
			</a>
			<a href="#" target="_blank">
				<i class="fa fa-linkedin"></i>
				Linkedin
			</a>
			<a href="#" target="_blank">
				<i class="fa fa-google-plus"></i>
				Google Plus
			</a>
			<a href="#" target="_blank">
				<i class="fa fa-github"></i>
				Github
			</a>
		</div>
	</div>
	<div>
		<p class="made-by-me">Theme by <a href="https://github.com/poole/lanyon">Lanyon</a>. Handmade by <strong>Rudy Hui</strong>.</p>
	</div>
</footer>