<section id="search" class="search">
	<svg class="wave defs-only" style="display: none;">
		<symbol id="blackwave">
			<svg preserveAspectRatio="none" viewBox="0 0 1900 330">
			<path style="fill:black;" d="M0,5.92c0,0,458.257,248.086,949.835,85.389C1455.707-75.978,1900,106.911,1900,106.911V330H0.66
			L0,5.92z"></path> 
			</svg>
		</symbol>
	</svg>
	<svg class="wave">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#blackwave"></use>
	</svg>
	<div class="spacer spacer--solid-black"></div>
	<div class="spacer">
		<div class="wrap-close">
			<div class="close">
				<button class="md-button md-icon-button header-icon header-close-button md-button" type="button" title="Close" aria-label="Close">
					<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
					    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
					    <path d="M0 0h24v24H0z" fill="none"/>
					</svg>
				</button>	
			</div>
		</div>
		<div class="layout layout--searchform js-layout--searchform ph">
			<div class="layout--max-width-wrapper m0a greater-desk-ph block">
				<label for="bigsearch" class="label--bigsearch block gray mb- hide-on-tablet hide-on-mobile">
					<h3>Just start typing...</h3>
				</label> 
				<input type="search" id="bigsearch" value="" class="block" name="bigsearch" autofocus>
			</div>
		</div>
	</div>
</section>