<!DOCTYPE html>
<html lang="en-us">

	{% include head.html %}

	<body>
		<div class="drawer-backdrop opaque"></div>
		<header id="header" class="header">
			<div class="header-corner">
				<button class="md-button md-icon-button header-icon header-menu-button md-button" type="button" aria-label="Open navigation drawer">
					<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
						<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
					</svg>
				</button>
			</div>
			<div class="header-logo">
				<meta itemprop="name" content="Music Xperiment">
				<span class="logo"></span>
			</div>
			<nav class="header-nav">
				<ul class="header-nav-list">
					<li>
						<a href="/home/" class="header-nav-link {% if page.dir == "/home/" %}is-active{% endif %}">
							Home
						</a>
					</li>
					<li>
						<a href="/project/" class="header-nav-link {% if page.dir == "/project/" %}is-active{% endif %}">
							Project
						</a>
					</li>
					<li>
						<a href="/blog/" class="header-nav-link {% if page.dir == "/blog/" %}is-active{% endif %}">
							Blog
						</a>
					</li>
					<li>
						<a href="/about/" class="header-nav-link {% if page.dir == "/about/" %}is-active{% endif %}">
							About
						</a>
					</li>
				</ul>
			</nav>
			<!-- <div class="header-corner header-home">
				<button class="md-button md-icon-button header-icon md-button is-active" type="button" title="Home" aria-label="Home">
					<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
					    <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
					    <path d="M0 0h24v24H0z" fill="none"></path>
					</svg>
				</button>
			</div> -->
			<div class="header-corner header-search-button-container">
				<button class="md-button md-icon-button header-icon header-search-button md-button" type="button" title="Search" aria-label="Search">
					<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
						<path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
					</svg>
				</button>
			</div>
		</header>

		<div class="side-drawer">
			<div class="nav-panel">
				<header class="nav-panel-header">
					<div class="header-logo">
						<meta itemprop="name" content="Music Xperiment">
						<span class="logo"></span>
					</div>
				</header>
				<nav>
					<ul class="header-nav-list">
						<li>
							<a href="/home/" class="header-nav-link {% if page.dir == "/home/" %}is-active{% endif %}">
								Home
							</a>
						</li>
						<li>
							<a href="/project/" class="header-nav-link {% if page.dir == "/project/" %}is-active{% endif %}">
								Project
							</a>
						</li>
						<li>
							<a href="/blog/" class="header-nav-link {% if page.dir == "/blog/" %}is-active{% endif %}">
								Blog
							</a>
						</li>
						<li>
							<a href="/about/" class="header-nav-link {% if page.dir == "/about/" %}is-active{% endif %}">
								About
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<section id=content class="content outer-container">
			{{ content }}
		</section>

		{% include footer.html %}
		
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="/script/typed.min.js"></script>

		<script type="text/javascript">

			var header = $("#header");
			$(window).on('beforeunload', function(){
				$(this).scrollTop(0);
			}).on("scroll", function(e) {
				if (this.scrollY > 0) {
					header.addClass("body-is-scrolled");
				} else {
					header.removeClass("body-is-scrolled");
				}

			});

			var sidebar = $("div.side-drawer");
			$(document).on("click", ".header-menu-button", function() {
				if(sidebar.hasClass("drawer-is-open")) {
					$("body div.drawer-backdrop").hide();
					sidebar.removeClass("drawer-is-open");
				} else {
					$("body div.drawer-backdrop").show();
					sidebar.addClass("drawer-is-open");
				}
			});

			$(document).on("click", ".drawer-backdrop", function() {
				$(".header-menu-button").trigger("click");
			});

			$(function(){
				$("footer div.hashtag h2 span.work").typed({
					strings: ["Music","Design","Website","CSS","JS"],
					contentType: 'html',
					loop: true,
					typeSpeed: 80,
					backDelay: 2000,
					showCursor: false
				});
			});

		</script>

	</body>
</html>